$color-bg: #272729;
$color-bg-paper: #181818;

$color-txt-primary: #e9e9e9;

$sidebar-width: 65px;

$border-radius-primary: 10px;
$border-radius-lg: 30px;

$color-accent-primary: #c6c6f9;
$color-accent-secondary: #7fa6ae;
$color-hover-primary: #9b9ac3;
$color-hover-secondary: #6b8b93;
$color-accent-tertiary: #f45454;

$color-black: #000;
$color-white: #fff;

$color-border: #525252;

$color-status-green: #b7eebc;
$color-status-red: #ff6b6c;
$color-status-blue: #778be8;
$color-status-yellow: #ffe17c;

$color-status-done: #358c3d;
$color-status-pending: #404ad9;

$color0inactive-bg: #272728;
