@use "../abstracts/variables" as *;

.error {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $color-white;
        font-size: 3rem;
    }
}
